@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(12, 61, 61);
  color: white;
  font-family: Inter, sans-serif;
}

.container-custom {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.section-spacing {
  padding-top: 8rem;
  padding-bottom: 8rem;
}